*{
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    position: relative;


}

body{
    height: 100svh;
    max-height: 100svh;
    max-width: 100svw;
display: flex;
justify-content: center;
background-image: url(images/qos\ backimg.jpg) ;
background-repeat: no-repeat;
background-position: fixed;
background-attachment: fixed;
background-size: cover;
}


form{
    
    border: 1px solid rgb(73, 4, 67);
background-color: #190019;
    /* width: 40%; */
    width: 400px;
   padding: 30px;
border-radius: 20px;
margin-top: 50px;
height: 700px;
width: 500px;

}

label{
    font-size: 30px;
    font-weight: bolder;
    color: #c8a8e9;
    margin-left: 10%;
}

input{
     width: 400px;
    height: 50px; 
    border: 1px solid darkmagenta;
    border-radius: 10px;
    background-color: rgba(203, 46, 235, 0.082);
    color: #ae445a;
    font-size: 20px;
    padding: 10px;
    /* margin-left: 10%; */


}

button{
    width: 50%;
    height: 50px;
    margin-left: 30%;
    background-color:darkmagenta;
    color: beige;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

.valid-text{
    color: rgb(3, 85, 3);
    font-weight: bold;
    font-size: 20px;
}

.invalid-text{
    color: #f5bcba;
    font-weight: bold;
}
ul{
    padding: 15px;
}